<p-card
  header="{{ product.title }}"
  subheader="Card Subheader"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <div appHoverProduct class="image" style="background-image: url({{product.thumbnail}});"></div>
  </ng-template>
  <p class="description" appHiglight>
    {{ product.description }}
  </p>
  <ng-template pTemplate="footer" >
    <p-button
      label="Buy"
      icon="pi pi-shopping-cart"
      (click)="onAddToCart()"
      [disabled]="product.stock === 0"
    ></p-button>

    {{product.price | currency}}
  </ng-template>
</p-card>

<p-toast></p-toast>


