:host-context {
    flex: 1 1 calc(33% - 24px);
    margin: 0 12px 24px;
}

.image {
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}

.cardOnHover {
    background-size: 150%;
}

.description {
    min-height: 60px;
}