<p-card
  header="{{ product.title }}"
  subheader="Card Subheader"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <div class="image" style="background-image: url({{product.thumbnail}});"></div>
    {{product.id}}
  </ng-template>
  <p class="description">
    {{ product.description }}
  </p>
  <ng-template pTemplate="footer">
    <p-button
      label="Buy"
      icon="pi pi-shopping-cart"
      (click)="onAddToCart()"
      [disabled]="product.stock === 0"
    ></p-button>
  </ng-template>
</p-card>

<p-toast></p-toast>


