.cart {
    position: absolute;
    display: none;
    left: 0;
    top: calc(100% + 2px);

    &-clear {
        margin-top: 24px;
    }
}

:host {
    position: relative;
}

.visible {
    display: block;
}